<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N72MDLV');</script>
<!-- End Google Tag Manager -->

<script>
function sendReadEvent(articleName, readingTime) {
  gtag('event','read_article', {
      "article_name": articleName,
      "reading_time": readingTime,
    });
 }    

document.addEventListener("DOMContentLoaded", () => {

  document.getElementById("read-article-1").addEventListener("click", () => {
    sendReadEvent("Article 1", 5)
  });
  
  document.getElementById("read-article-1").addEventListener("click", () => {
    sendReadEvent("Article 2", 8)
  });
  
  document.getElementById("read-article-1").addEventListener("click", () => {
    sendReadEvent("Article 3", 16)
  });
  
});

  console.log("2023-01-31")
</script>
