<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E1X0G4LV12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E1X0G4LV12');
  </script>
  
  <script>
  function sendReadEvent(title, numberOfCharacters, author) {
    gtag('event','read_article', {
      "author":"Lisa S",
      "title": title,
      "number_of_characters": numberOfCharacters,
    });
  }
  
  
  document.addEventListener("DOMContentLoaded", () => {
    
    const readArticle1Button = document.getElementById("read-article-1");
                                                       
                                                       
  if (readArticle1Button){
    readArticle1Button.addEventListener("click", () => {
        sendReadEvent("Article 1", 50, Lisa S)
    });
    
    document.getElementById("read-article-2").addEventListener("click", () => {
        sendReadEvent("Article 2", 100, Rut S)
    });
    
    document.getElementById("read-article-3").addEventListener("click", () => {
        sendReadEvent("Article 3", 150, Birger S)
    });
  }
    
  });
  
  
  console.log("2023-01-23")
  
</script>


