<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E1X0G4LV12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E1X0G4LV12');
  </script>
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N72MDLV');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N72MDLV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <script>
  function sendReadEvent(articleName, readingTime) {
    gtag('event','read_article', {
      "article_name": articleName,
      "title": title,
      "reading_time": readingTime,
    });
  }
  
  
  document.addEventListener("DOMContentLoaded", () => {
    
    const readArticle1Button = document.getElementById("read-article-1");
                                                       
                                                       
  if (readArticle1Button){
    readArticle1Button.addEventListener("click", () => {
        sendReadEvent("Article 1", 5)
    });
    
    document.getElementById("read-article-2").addEventListener("click", () => {
        sendReadEvent("Article 2", 8)
    });
    
    document.getElementById("read-article-3").addEventListener("click", () => {
        sendReadEvent("Article 3", 10)
    });
  }
    
  });
  
  
  console.log("2023-01-23")
  
</script>


